<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Statistic Online</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/extjs/resources/css/ext-all.css')}" />
  <script type="text/javascript" src="${tg.url('/javascript/extjs/bootstrap.js')}" >  </script>
  
  <script type="text/javascript" src="${tg.url('/javascript/hosxp/models.js')}" >  </script>
  <script type="text/javascript" src="${tg.url('/javascript/hosxp/visitinyear.js')}" >  </script>
  <script language="javascript" type="text/javascript">
  		Ext.application({
		    name: 'hosxp',
		    launch: function() {
		 		
		 		var listPatientSexInYear = new hosxp.showGraphPatientSexInYear({
		        	title: 'จำนวนผู้ป่วยมารับบรัการแยกชาย/หญิง(คน)',
		        	renderTo : 'maintenance-app',
		        	store : hosxp.patientsexinyearstore,
		        	ylabel : 'จำนวนคน',
					xlabel : 'เดือน' 
		        });
		         
		         
		      
		    }
		});
		Ext.namespace("hosxp");
  
  </script>
</head>

<body>
  <div id="getting_started">
     <div id="maintenance-app"/>
  </div>
  <div class="clearingdiv" />
</body>
</html>
