<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Intranet of Bantak Hospital</title>
  <!-- <title>Welcome to TurboGears 2.1, standing on the shoulders of giants, since 2007</title> -->
</head>

<body>
   	<!-- ${sidebar_top()}  -->
  <div id="getting_started">
    <h2>โปรแกรม</h2>
    <p> </p>
    <ol id="getting_started_steps">
      <li class="getting_started">
        <h3><a href='/risk'> โปรแกรมความเสี่ยง </a></h3>
        <p>  </p>
      </li>
      <li class="getting_started"> 
        <h3><a href='/indicator'>โปรแกรมบันทึกข้อมูลตัวชี้วัด  </a></h3>
        <p>   </p>
      </li>
       
    </ol>
  </div>
  <div class="clearingdiv" />
 <!-- <div class="notice"> Thank you for choosing TurboGears.
  </div> --> 
</body>
</html>
