<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Computer Center,Bantak Hospital</title>
  
   <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/extjs/resources/css/ext-all.css')}" />
  <script type="text/javascript" src="${tg.url('/javascript/extjs/bootstrap.js')}" >  </script>
  
  <script src="http://maps.googleapis.com/maps?file=api&amp;v=2&amp;sensor=false&amp;language=th&amp;key=ABQIAAAAU95kDVDU-5Ve389sRBZmMRSDS7actCjtp4xNzNUSW7xICtwjdhQlKWh2kPaIb2ipOUl4vGqcEu0kWw" type="text/javascript"> </script>
  
  <script src="/javascript/dental/gmap.js"> </script>
  
  
</head>

<body>
    
  <div id="getting_started">
     <div id="maintenance-app"/>
  </div>
  <div class="clearingdiv" />
  <input type="button" id="show-btn" value="Gimme a Map" /><br /><br />
 <!--  <div class="notice"> Thank you for choosing TurboGears. </div>  -->
</body>
</html>

